<!DOCTYPE html>
<html>
<head>
	<title>Delete <%= post.title %>?</title>
</head>
<body>

<!-- 

	to do list
	
	-route for delete
	-check populated fields
	-confirm links

 -->

<h1>Are you sure you want to delete <%= post.title %>?</h1>
<ul>
	<li><a href="/admin">Go Back</a></li>
	<li><a href="/logout">Sign Out</a></li>
</ul>
<br><br>
<h2>Post Title:</h2>
<p><%= post.title %></p>
<h3>Post Text:</h3>
<p><%= post.body %></p>
<br><br>
<a href="/admin"><button>Go Back</button></a><br><br>
<form action="/posts/<%= post.id %>/destroy" method="post">
	<input type="submit" value="Delete Post">
</form>

</body>
</html>